<div class="todoitem">

<!--   <div class="sub-left"> -->

    <% if (todoitem.done?) %>
      <font color=#00FF00> Due Date: <%= ("#{todoitem.due_date}") %> </font>
    <% else %>
      <font color=#FF0000> Due Date: <%= ("#{todoitem.due_date}") %> </font>
    <% end %>
    <%= link_to "#{todoitem.task_title}", [@todolist, todoitem] %>
    
<!--   </div> -->

<!--   <div class="sub-right"> -->

    <% if (!todoitem.done?) %>

      <span id= <%= dom_id(todoitem) %>

        <%= form_for([@todolist, todoitem], remote: true) do |f| %>

        <div style="display: inline; float:right;">

        <%= button_to 'Mark Item as Done', {controller: :todoitems, action: :update_done, todoitem_id: todoitem, todolist_id: @todolist, todoitem_dom_id: dom_id(todoitem)}, method: :get, remote: true %>

        </div>

        </span>

        <% end %>

      </span>

    <% end %>

<!--   </div> -->

</div>