<div class="todolist">
  <%= content_tag(:span, "#{@todolist.list_name} (#{@todolist.list_due_date})",
    class: "todolist_link") %>
</div>

<p/>

<%= button_to "Add Todo Item", new_todolist_todoitem_path(@todolist), method: :get %>

<div class="todoitem">
  <%= render @todoitems %>
</div> 
  
<div class="bottom">
  <%= will_paginate @todoitems %>
  <%= link_to 'Edit Todo List', edit_todolist_path(@todolist) %> | 
  <%= link_to 'Back to Lists', todolists_path %>
</div>